  @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&family=Ubuntu+Mono:ital,wght@1,400;1,700&display=swap');
.card{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ubuntu{
    font-family: 'Ubuntu Mono', monospace;
    
}
.arima{
    font-family: 'Arima', cursive;

}


.signika{
    font-family: 'Signika', sans-serif;
}
